$color-1: #f9f7f3;
$color-2: #a68066;
$color-3: #c0ad99;
$color-4: #b35156;
$color-5: #525266;
$color-6: #43aa8b;
$success: $color-6;
$danger: $color-4;

$body-color: $color-1;

$body-bg: $color-5;

$pagination-bg: $color-5;
$pagination-border-color: $color-2;

$list-group-bg: $color-3;
$list-group-border-color: $color-3;

$rhap_theme-color: $color-5;
$rhap_background-color: $color-3;
$rhap_bar-color: $color-2;
$rhap_time-color: $color-5;
