$red-salsa: #f94144ff;
$orange-red: #f3722cff;
$yellow-orange-color-wheel: #f8961eff;
$maize-crayola: #f9c74fff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$queen-blue: #577590ff;

$primary: $queen-blue;
$secondary: $pistachio;
$success: $zomp;
$info: $queen-blue;
$warning: $yellow-orange-color-wheel;
$danger: $red-salsa;
