//@import '~bootstrap';
@import 'fonts';
@import 'variables';
@import '~bootswatch/dist/slate/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/slate/bootswatch';
@import '~react-h5-audio-player/src/styles';

@import 'player';

@import 'utils';

//@import 'header';

body {
  user-select: none;
}

.pagination .page-link {
  background-image: none;
  outline: none;
  pointer-events: none;
  user-select: none;
  text-shadow: none;
}

.pagination .current .page-link {
  background-color: $color-6;
}

.pagination .passed .page-link {
  background-color: $color-3;
  color: $color-5;
}

/* .list-group-item {
  pointer-events: none;
} */

.quiz-img {
  width: 200px;
  height: 155px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid $color-5;
  transition: background-image 0.2s ease-in;
}


// #root {
//   max-width: 800px;
//   margin: 0 auto;
// }
